*{
  padding: 0;
  margin: 0;
}
.route-link{
  text-decoration: none !important;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
.active-class{
  color: black;
  background-color: white;
}